<div [@routerTransition]>
  <div class="header">
    <div class="back" (click)="goBack()"><i class="arrow-left"></i> Back</div>
    <h1>{{headerText}}</h1>
  </div>
  <form #consultantForm="ngForm" (ngSubmit)="onSubmit(consultantForm)">
    <div class="form-row">
      <md-input-container>
        <input [(ngModel)]="consultant.name" type="text" mdInput placeholder="Name" name="name" required>
      </md-input-container>
      <md-input-container class="half-width">
        <input
          ngControl="email"
          [(ngModel)]="consultant.email"
          type="email"
          mdInput
          placeholder="Email"
          name="email"
          pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
          required>
      </md-input-container>
    </div>
    <div class="form-row">
      <md-input-container>
        <input [(ngModel)]="consultant.address" type="text" mdInput placeholder="Address" name="address">
      </md-input-container>
    </div>

    <div class="form-row">
      <md-input-container class="full-width">
        <input
          name="dateOfBirth"
          [(ngModel)]="consultant.dateOfBirth"
          mdInput
          [mdDatepicker]="picker"
          placeholder="Date of birth (yyyy-mm-dd)"
          required>
        <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
      </md-input-container>
      <md-datepicker #picker [startAt]="consultant.dateOfBirth"></md-datepicker>
    </div>
    <div class="form-row">
      <md-slide-toggle
        (change)="changeAssignmentStatus($event)"
        [checked]="consultant.onAssignment"
      >
        <span *ngIf="consultant.onAssignment">Out on Assignment</span>
        <span *ngIf="!consultant.onAssignment">Not on Assignment</span>
      </md-slide-toggle>
    </div>
    <div class="form-row">
      <app-skills-input
        [skills]="consultant.skills"
        [placeholder]="'Skill'"
        (onAdd)="addSkill($event)"
        (onDelete)="deleteSkill($event)"
      >

      </app-skills-input>
    </div>
    <div class="form-row">
      <input type="file" accept=".jpg, .png, .jpeg" placeholder="Upload picture" (change)="imageChanged($event)" #imageEl>
    </div>
    <button type="submit" class="button submit"
            [disabled]="consultantForm.form.invalid || consultantForm.form.pristine"> {{btnText}}
    </button>
  </form>
</div>
