form {
  margin: 20px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 830px;
  padding: 10px;
}

.form-row md-input-container {
  flex: 1 1 0;
}

md-input-container {
  min-width: 180px;
}

.submit {
  margin-top: 20px;
}



