md-chip i.delete{
  cursor: pointer;
}
md-chip.mat-chip.mat-primary{
  background-color: whitesmoke;
}

.button{
  padding: 10px 20px;
}

.button:hover{
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}
.chips-list{
  min-height: 32px;
  display: flex;
  flex-wrap: wrap;
}
