<md-input-container>
  <input
    [(ngModel)]="currentSkill"
    mdInput
    placeholder="{{placeholder}}"
    [ngModelOptions]="{standalone: true}"
    (keypress)="addSkill($event)"
  >
</md-input-container>
<button class="button" type="button" (click)="addSkill()">Add</button>

<md-chip-list class="chips-list">
  <md-chip *ngFor="let skill of skills" color="primary">
    {{skill}}
    <i class="delete fa fa-times-circle" (click)="deleteSkill(skill)"></i>
  </md-chip>
</md-chip-list>

