<div class="root" style="text-align:center">
  <div class="navbar navbar-fixed">
      <nav>
        <a routerLink="/home" class="home">
          <i class="fa fa-home fa-lg" aria-hidden="true"></i>
        </a>
        <a routerLink="/create" class="create" mdTooltip="Create New Consultant">
          <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
        </a>
      </nav>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

