.root{
  font-family:Arial, Helvetica, sans-serif;
}
.content {
  margin-top: 50px;
  max-width: 1200px;
  display: inline-block;
}
.navbar{
  height: 40px;
  width: 100%;
  background-color: #686868;
  display: flex;
  justify-content: center;
  z-index: 100;
}
.navbar-fixed{
  position: fixed;
  top: 0;
  left: 0;
}
nav {
  max-width: 1200px;
  /*width:100%;*/
  width: inherit;
  display: flex;
  justify-content: space-around;
  align-self: center;
}

nav a{
  vertical-align: middle;
  /*padding: 5px 10px;*/
  text-decoration: none;
  display: inline-block;
  /*background-color: #eee;*/
  border-radius: 2px;
  margin: 0 3px;
  align-self: center;
  color:white;
}
nav a.create{
}
nav a.home{

}
nav a:visited, a:link {
  color: white;
}
