<div class="card">
  <div class="picture">
    <img [src]="consultant.picture"/>
  </div>
  <div class="consultant-info">
    <h3 class="card-info name">
      {{consultant.name}} <span *ngIf="consultant.onAssignment">(on assignment)</span>
    </h3>
    <div class="card-info">Age: {{consultant.age}}</div>
    <div class="card-info">Email: {{consultant.email}}</div>
    <div class="card-info">
      <div class="skills-wrapper">
        <div>
          Skills:
        </div>
        <md-chip-list class="chips-list">
          <md-chip *ngFor="let skill of consultant.skills.slice(0, 3)" color="primary">
            {{skill}}
          </md-chip>
        </md-chip-list>
      </div>
      <span *ngIf="consultant.skills.length > 3">...and more</span>
    </div>
  </div>
  <button class="button" (click)="goToDetails()">View Details</button>
</div>
