.card{
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.29);
  background-color: whitesmoke;
  margin: 8px;
  width:300px;
  justify-content: space-between;
}

.card-info{
  text-align: left;
  padding:5px;
  margin-bottom: auto;
}
.consultant-info{
  display: flex;
  flex-direction: column;

}
.name{
  text-align: center;
}
.picture{
  height: 150px;
  width: 300px;
  background-color: floralwhite;
  overflow: hidden;
}
.picture img{
  max-width: 100%;
  max-height: 100%;
}

.button{
  margin: 5px;
  align-self: center;
}
.skills-wrapper{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
