/* You can add global styles to this file, and also import other style files */
body {
  background-color: #DAE4E8;
  margin: auto;
}

.button {
  background-color: #6BDB6B;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  cursor: pointer;
  transition: 0.2s all linear;
}
.button.cancel{
  background-color: indianred;
}

.button:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:disabled {
  box-shadow: none;
  background-color: lightgrey;
  cursor: not-allowed;
}
snack-bar-container.error{
  background-color: indianred;
}
snack-bar-container.success{
  background-color: #6BDB6B;
}

