.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header{
  margin: 30px;
}

.filter-components{
  display: flex;
  justify-content: space-around;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

app-consultant-card{
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  transition: 1s all linear;
}
