<div class="home" [@routerTransition]>
  <h1 class="header">
    Welcome to Amazing Consultant Administration App!!
  </h1>
  <h3>The go to app for handling amazing consultants</h3>
  <div  class="filter-components">
    <md-input-container>
      <input mdInput type="text" [(ngModel)]="nameFilter" placeholder="Search by name"
      [ngModelOptions]="{debounce: 300}">
    </md-input-container>

    <app-skills-input
      [placeholder]="'Filter by skill'"
      [skills]="skillsFilter"
      (onDelete)="deleteSkillFilter($event)"
      (onAdd)="addSkillFilter($event)"
    >

    </app-skills-input>
  </div>
  <div class="cards">
    <div *ngIf="!consultants || consultants.length === 0">Add new consultants by clicking <i class="fa fa-plus-circle"></i> in top right corner.</div>
    <app-consultant-card
      *ngFor="let consultant of (consultants | name : nameFilter | skill : skillsFilter)"
      [@flexFadeInOut]
      [consultant]="consultant">
    </app-consultant-card>
  </div>
</div>
