<div class="consultant-details" *ngIf="consultant" [@routerTransition]>
  <div class="header">
    <div class="back" (click)="goBack()"><i class="arrow-left"></i> Back</div>
    <h1>{{consultant.name}}</h1>
  </div>
  <div *ngIf="consultant.onAssignment">{{consultant.name}} is currently out on assignment</div>
  <div class="info">
    <div class="picture">
      <img [src]="consultant.picture">
    </div>
    <div class="contact-info">
      <h3>Contact Info</h3>

      <div class="info-field">
        <div class="info-property">Name:</div>
        <div class="info-value">
          <div class="value">{{consultant.name}}</div>
          <!--<i class="edit fa fa-pencil" aria-hidden="true"></i>-->
        </div>
      </div>
      <div class="info-field">
        <div class="info-property">Date of Birth:</div>
        <div class="info-value">
          <div class="value">{{consultant.dateOfBirth | date}}</div>
          <!--<i class="edit fa fa-pencil" aria-hidden="true"></i>-->
        </div>
      </div>
      <div class="info-field">
        <div class="info-property">Age:</div>
        <div class="info-value">
          <div class="value">{{consultant.age}} years old</div>
        </div>
      </div>
      <div class="info-field">
        <div class="info-property">Address:</div>
        <div class="info-value">
          <div class="value">{{consultant.address}}</div>
          <!--<i class="edit fa fa-pencil" aria-hidden="true"></i>-->
        </div>
      </div>
      <div class="info-field">
        <div class="info-property">Email:</div>
        <div class="info-value">
          <div class="value">{{consultant.email}}</div>
          <!--<i class="edit fa fa-pencil" aria-hidden="true"></i>-->
        </div>
      </div>
    </div>
  </div>
  <div class="skills">
    <h2>Skills</h2>
    <md-chip-list class="chips-list">
      <md-chip *ngFor="let skill of consultant.skills" color="primary">
        {{skill}}
      </md-chip>
    </md-chip-list>
  </div>
  <div class="action-buttons">
    <button class="button" (click)="editConsultant()">Edit Consultant Profile</button>
    <button class="button cancel" (click)="deleteConsultant()">Delete User</button>
  </div>
</div>
<div *ngIf="consultant === undefined" [@routerTransition]>
  Couldn't seem to find consultant.
</div>
