.consultant-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.back{
  align-content: flex-start;
  border: 1px solid black;
  border-radius: 2px;
  padding: 5px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.2s all linear;
}
.back:hover{
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.29);
}

.arrow-left{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
}

.picture{
  display: inline-block;
  height: 100%;
  width: 200px;
}
.picture img{
  max-width: 100%;
  max-height: 100%;
}

.info{
  background-color: whitesmoke;
  margin:15px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.29);
}
.contact-info{
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 10px;
}

.info-field{
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.info-property{
  font-weight: bold;
  text-align: left;
  flex: 1 0 0;
}


.info-value{
  padding-left: 15px;
  display: flex;
  justify-content: flex-end;
  flex: 1 0 0;
}

.info-value .value{
  padding-right: 10px;
  white-space: nowrap;
}
.edit{
  cursor: pointer;
}
.action-buttons{
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.button{
  margin: 10px;
}

md-chip.mat-chip.mat-primary{
  background-color: whitesmoke;
}
